.wrapper {
	width: 800px;
	margin: 150px 0 0 150px;
}

button {
	position: relative;
	line-height: 40px;
	background: linear-gradient(olive 10%, lightgreen);
	font-weight: bold;
	color: darkred;
	box-shadow: 0 0 0 2px white, 0 0 2px 5px black, 0 0 1px 10px white, 0 0 2px 15px yellow;
}

button:hover {
	position: absolute;
	margin: 3px 0 0 3px;
	color: darkgreen;
	box-shadow: inset 0 0 0 5px white, 0 0 1px 5px black, 0 0 3px 8px red;
}

.test {
	height: 500px;
	width: 300px;
	background: red;
}